img.Fiore{
    float: left;
    border-right: 10px;
    border-bottom: 10px;
}
img.Novella{
    float: right;
}

body{
    text-align: justify;
    font-size: 1.5rem;
    background-color: wheat;
}

p.central{
    text-align: center;
}

h1{
    text-align: right;
    letter-spacing:30px;
    color: rgb(233, 113, 113);
}

h2{
    background-color: silver;
    clear: both;
}

em{
    font-weight: bold;
}

address{
    clear: both;
}