ul{
    list-style-type: circle;
}


ol.numeros{
    list-style-type: decimal;
}

ol.romanos{
    list-style-type: upper-roman;
}

ol.letras{
    list-style-type: lower-latin;
}

body{
    text-align: justify;
    font-size: x-large;
}
