#header{
    text-align: center;
    color: rgb(202, 113, 23);
}
div{
    background-color: moccasin;
}
#frontpage{
    font-size: 20px;
}
#menu{
    color: peru;
}

#texto{
    font-size: 20px;
    color: peru;
}
.cafe{
    text-align: center;
}
.contacto{
    text-align: right;
}